//Home //
.home{
    text-align: center;
    .title{
        font-size: 60px;
        margin-top: 1vh;
        margin-bottom: 10vh;
    }
}


//User Creation //
.create-user{
    .second-row{
        
    }

}
.success-message{
    display: none;
}

//Add Data
.add-data{
   .submit-button{
        &:disabled{
            background-color: rgb(94, 92, 92);
            cursor: not-allowed;
        }
        background-color: rgb(65, 126, 126);
        color: white;
    } 
}
