@import '../scss/mixins';

//Variables //
$main-pink: #F44336;
$main-purple: #1f014b;


//Global //
body{
    margin: 0;
    padding: 0;
    z-index: 11;
}
.submit-button{
        font-size: 19px;
        background: $main-pink;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
        border: 2px solid white;
        cursor: pointer;
}
.upload-input::file-selector-button{
        font-size: 16px;
        padding: 3px;
        background: $main-pink;
        color: white;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
}


//Home //
.home{
    text-align: center;
    align-items: center;
    .title{
        font-size: 60px;
        margin-top: 1vh;
        margin-bottom: 10vh;
        color: white;
    }
    .banner{
        width: 100%;
        height: 570px;
        background-color: $main-purple;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .banner-image{
        height: 100%;
        img{
           object-fit: contain;
            height: 100%;
        }
        
    }
    .login-group{
        margin: auto 0;
        align-content: center;
        z-index: 111;
        color: white;
        
        h2{
            margin: 10px;
        }
        .login-and-register{
                border: 4px solid white;
                border-radius: 10px;
                width: 500px;
                
            }
        .form-selector{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .active{
                border-bottom: 4px solid white;
                
            }
            hr{
                
            }
            h3{
                width: 100%;
                height: 100%;
                font-size: 25px;
                margin: 0;
                padding: 2vh;
                cursor: pointer;
                
            }
            h3:hover{
                    background-color:#65409e61;
                }
        }


    }
    
    .icon-group{
        display: flex;
        flex-direction: column;
        z-index: 111;
        .icons{
            color: white;
            margin: 10px;
            padding-bottom: 10px;
            border-bottom: 3px solid $main-pink;
            display: flex;
            flex-direction: row;
            img{
                width: 80px;
            }
            h3{
                margin: 0;
            }
            p{
            }
        }
        .group{
            
        }
    }
}

// Login and Register Form //

.login-form{
    form{
        display: flex;
        flex-direction: column;
        padding: 1vw;
        .row{
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-bottom: 1.5vh;
        }
        label{
            margin-bottom: 5px;
            font-size: 19px;
        }
        input{
            font-size: 18px;
            outline: none;
        }
    }
    

}
.register-form{
     
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        
        .row{
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;
            margin-bottom: 1.5vh;
        }
        .row-2{
            width: 100%;
            margin-bottom: 1.5vh;
            .gap{
                margin-left: 10px;
            }
            display: flex;
            flex-direction: row;
            .name-row{
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;
            }   
        }
        label{
            margin-bottom: 5px;
            font-size: 19px;
        }
        input{
            font-size: 18px;
            outline: none;
        }
        .submit-row{
            width: 100%;
            
        }
        .country-selector{
            color: black;
            cursor: pointer;
        }
    }
    

    .success-message{
        display: none;
    }
    
}
// Photo Gallery

.photo-gallery{
    
    columns: 4;
    column-gap: 1.5vh;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    margin: 5vh 10vw;
    .photo img{
        width: 100%;
        height: auto;
        object-fit: contain;
        vertical-align: middle;
        display: inline-block;
        break-inside: avoid;
    }
    .photo{
       margin-bottom: 1.5vh;
    }
}

// Nav  //

.main-nav{
    background: $main-pink;
   ul{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 1.75vh;
    border-bottom: 3px solid white;
    .link{
        text-decoration: none;
        color: white;
        font-size: 19px;
        cursor: pointer;
    }
}
 .nav-banner{
    padding: 0;
    margin: 0;
 }
}

//Add Data
.add-data{
    border: 3px solid gray;
    border-radius: 8px;
    width: 20vw;
    text-align: center;
    padding: 5px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .group{
       display: flex;
       flex-direction: column;
       font-size: 16px;
       padding: 3px;
    }
    
   .add-data-submit-button{
        &:disabled{
            background-color: rgb(94, 92, 92);
            cursor: not-allowed;
        }
        background-color: $main-pink;
        color: white;
        padding-top: 3px;
    } 
}

//Admin Page //

.admin-page{
    display: flex;
    flex-direction: row;
}

//Admin Sidebar Nav //

.admin-sidebar{
    width: 20vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    background-color: #1f014b;
    .profile-photo{
        text-align: center;
        img{
            width: 35%;
            background-color: white;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        .favourite-icon, .dashboard-icon{
            width: 30px;
           margin-right: 20px;
        }
        .all-photos-icon, .add-photos-icon{
            width: 35px; 
            margin-right: 20px;
        }
    }
    .sidebar-links{
        padding: 20px;
        margin: 0 25px 0 0;
        font-size: 25px;
        color: white;
        border: 1px solid black;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

///Admin Dashboard ///

.dashboard{
    width: 100%;
    // display: flex;
    // flex-direction: row;
    .impressions, .user-metrics{
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
    //Card Mixin//
    .card-vi{
        @include impressions-card;
    }

    .views-card{
        background-color: #ebae;
    }
    .likes-card{
        background-color: #fff5b5;
    }
    .subs-card{
        background-color: #9de79f;
    }
    .photos-uploaded-card{
        background-color: #fdb7ff;
    }
    .photos-downloaded-card{
        background-color: #ffd494;
    }
    .photos-shared-card{
        background-color: #91afff;
    }
    .stats-row{
        margin: 2vh 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .top-picture-card{
            // display: flex;
            // flex-direction: row;
            min-height: 5vh;
            max-width: 20vw;
            background-color:  rgb(237, 237, 237);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            padding: 10px;
            img{
                max-width: 300px;
            }
            h3{
                    font-size: 40px;
                    margin: 10px;
                }
            .top-photo-info, .top-photo-info-2{
                display: flex;
                justify-content: space-around;
                
                
                p{
                    font-size: 22px;
                    margin: 10px 5px;
                    color: #1f014b;
                }
                span{
                    font-size: 28px;
                    color: black;
                }
            }
            

        }
        .graph{
            min-width:950px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            background-color: rgb(237, 237, 237);
            
        }
    }
}

//Photo Page//

.photo-page{
    position: relative;
    .wrapper{
        width: 100vw;
        height: 100vh;
        background-color: rgb(0 0 0 / 50%);
        z-index: 1;
        position: absolute;
    }
    .photo-details{
        position: relative;
        z-index: 11;
        width: 60vw;
        height: 100vh;
        margin: auto;
        background-color: white;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    img{
        max-width: 400px;
    }
}